section{
    background-image: url('rippleOnWater.jpg');
    background-repeat: no-repeat;
    height: fit-content;
}

@media screen and (max-width: 419px) {
    .email-form {
        order: initial;
    }

    .button {
        order: 5;
    }

    textarea {
        order: 4;
    }
}