.nav-bar {
    background-color: #000328;
}

/*css for about page*/

.name {
    justify-content: center;
    width: 100vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 40vh;
    text-align: center;
}

.about-main{
    width: 100vw;
    height: fit-content;
    display: flexbox;
  
}

.myPic {
    float: left;
    margin-left: 3vh;
    margin-top: 5vh;
}

.about-p {
    float: right;
    margin-right: 3vh;
    margin-bottom: 5vh;
}
/*css for portfolio*/

.portfolio-main {
    height: 100%;
    width: 100vw;
}

.cardCard image {
    object-fit: contain;
    margin-bottom: 2%;
}


/*css for the contact form*/

.email-card {
    background-image: url('./rippleOnWaterE.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;

}

.contact-p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.ul-input {
    list-style-type: none;
    float: left;
}

textarea {
    float: right;
}

.email-form {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1rem;
    margin: 1rem;
}

button {
    margin: 1vh;
}

/*end css for contact form*/